$color-dark-gray: #7f8c8d;
$color-medium-gray: #95a5a6;
$color-light-green: #ecf0f1;
$color-dark-blue: #2c3e50;
$color-white: #ffffff;
$color-black: #000000;
$color-green: #2ecc71;
$color-red: #e74c3c;
$color-yellow: #f1c40f;
$color-torquoise: #1abc9c;

$choice-width: 80px;
$choice-height: 50px;
$choice-spacing: 15px;

.container {
  width: 400px;
  display: flex;
  justify-content: space-between;
}

.game-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100%;
}


.body {
  display: flex;
  align-items: center;
  height: 40vh;
    
  .expression {
    height: 80px;
    overflow: hidden;
    
    &.transitioning {
      .from, .to {
        transition: all .5s 1s cubic-bezier(0.25, 0.1, 0, 1);
        transform: translateY(-80px);
      }
    }
    
    .from, .to {
      display: flex;
      height: 80px;
      align-items: center;
      justify-content: center;
      transform: translateY(0);
    }
    
    .text {
      margin-right: 20px;
      font-size: 52px;
    }
    
    .box {
      border: 2px dashed $color-dark-gray;
      width: $choice-width - 2px;
      height: $choice-height - 2px;
      border-radius: 3px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 36px;
      color: $color-dark-gray;
    }
  }
}


.footer {
  flex: 1;
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: $color-torquoise;
  margin-top: 25px;
  
  .container {
    margin-top: -$choice-height / 2;
  }
}

.summary {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  width: 100%;
  background-color: $color-white;
  
  &.hidden {
    visibility: hidden;
  }
    
  .badge {
    position: relative;
    margin: 15px;
    
    svg {
      width: 200px;
      height: 200px;
    }
    
    .score {
      font-size: 28px;
      color: $color-white;
      position: absolute;
      top: 70px;
      left: 0;
      right: 0;
      text-align: center;
    }
  }
  
  .title {
    text-align: center;
    color: $color-medium-gray;

    .big {
      font-size: 24px;
      color: $color-dark-blue;
    }
  }

  .button {
    font-size: 20px;
    background-color: $color-torquoise;
    color: $color-white;
    padding: 5px 10px;
    font-weight: 400;
    border-radius: 3px;
    box-shadow: 0 3px 0 $color-dark-blue;
    cursor: pointer;
  }
}