html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

#root {
  height: 100%;
}

body {
  justify-content: center;
  font-family: Roboto;
  background-color: #ecf0f1;
  color: #2c3e50;
}

div {
  user-select: none;
}


